<a href="https://colab.research.google.com/github/zachberlinsky/BTE230-Assigns/blob/main/Final_In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
play = input('Do you want to play a game?: ')


while play == 'yes':
  P1 = input('Enter Player One Move: ')
  P2 = input('Enter Player Two Move: ')

  if (P1) == 'rock' and (P2) == 'scissors':
    print("P1 Wins")

  elif (P1) == 'rock' and (P2) == 'paper':
    print("P2 Wins")

  elif (P1) == 'paper' and (P2) == 'scissors':
    print("P2 Wins")

  elif (P1) == 'paper' and (P2) == 'rock':
    print("P1 Wins")

  elif (P1) == 'scissors' and (P2) == 'rock':
    print("P2 Wins")

  elif (P1) == 'scissors' and (P2) == 'Paper':
    print("P1 Wins")

  elif (P1) == (P2):
    print("It's a Draw")
  play = input('Do you want to play another game?: ')
  if play == 'no':
    print('Have a Nice Day!')

Do you want to play a game?: yes
Enter Player One Move: rock
Enter Player Two Move: paper
P2 Wins
Do you want to play another game?: yes
Enter Player One Move: rock
Enter Player Two Move: rock
It's a Draw
Do you want to play another game?: no
Have a Nice Day!

In [1]:
# Calculate surface area cylinder
h=10 # Height
r=3 # Radius
pi=3.14 # Pi
(2*pi*r**2)+(2*pi*r*h)

244.92000000000002

In [5]:
from os import symlink
from re import sub
n1 = float(input('Enter Number One: '))
symbol = input('Enter Symbol: ')
n3 = float(input('Enter Number Two: '))

if symbol == '+':
  print(n1 + n3)
elif symbol == '-':
  print(n1 - n3)
elif symbol == '*':
  print(n1 * n3)
elif symbol == '/':
  print(n1 / n3)
elif symbol == '**':
  print(n1 ** n3)

Enter Number One: 7
Enter Symbol: *
Enter Number Two: 6
42.0

In [7]:
flat_rate=5
hourly_rate = 2.5
i=1
while i<9:
  print(i,5+2.5*i)
  i=i+1

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [ ]:
ticketPrice = 10
fixedCost = 200
fixedAtendees = 20

for ad in range(0, 201, 25):
  additionalAtendees = round(2 * ad ** 0.5)
  profit = (fixedAtendees + additionalAtendees) * ticketPrice - ad - fixedCost
  print(ad, profit)

print('...')

ad = 0
while ad < 201:
  additionalAtendees = round(2 * ad ** 0.5)
  profit = (fixedAtendees + additionalAtendees) * ticketPrice - ad - fixedCost
  print(ad, profit)
  ad = ad + 25

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80
...
0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
from os import symlink
from re import sub
n1 = float(input('Enter Number One: '))
symbol = input('Enter Symbol: ')
n3 = float(input('Enter Number Two: '))

if symbol == '+':
  print(n1 + n3)
elif symbol == '-':
  print(n1 - n3)
elif symbol == '*':
  print(n1 * n3)
elif symbol == '/':
  print(n1 / n3)
elif symbol == '**':
  print(n1 ** n3)

Enter Number One: 6
Enter Symbol: *
Enter Number Two: 4
24.0

In [4]:
amount = float(input('Enter investment amount (($)): '))
customer_type = input('Enter type of customer (n->new, e->existing): ')

if amount <= 1000:
  ir = 0.03
  ret = (1+ir) * amount
elif amount <= 10000 and customer_type == 'e':
  ir = 0.0325
  ret = (1 + ir) * amount
elif amount > 10000 and customer_type == 'e':
  ir = 0.035
  ret = (1 + ir) * amount
else:
  ir = 0.04
  ret = (1 + ir) * amount

print(f'Annualreturn afyer 1 year: $(ret): ', round(ret, 2))

Enter investment amount (($)): 540000
Enter type of customer (n->new, e->existing): n
Annualreturn afyer 1 year: $(ret):  561600.0

In [8]:
credits = float(input('Number of credits: '))
if credits >= 12:
  tuition = 20000
if credits < 12:
  tuition = 1200 + (1700 * credits)

print("Tution for the semester: $", tuition)

Number of credits: 20
Tution for the semester: $ 20000

In [ ]:
L = []

item = int(input('Give a value: '))

while item != 0:
  L.append(item)
  item = int(input('Give a value: '))
print(L)

Give a value: 1
Give a value: 2
Give a value: 5
Give a value: 7
Give a value: 0
[1, 2, 5, 7]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]
for item in L1[:]:
  if item in L2:
    L1.remove(item)

print(L1)

[3, 4]

In [ ]:
months = {}

names = {"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"}
numbers = {1,2,3,4,5,6,7,8,9,10,11,12}

db = {
    'Months of the Year': {
        '1': 'Jan',
        '2': 'Feb',
        '3': 'Mar',
        '4': 'Apr',
        '5': 'May',
        '6': 'Jun',
        '7': 'Jul',
        '8': 'Aug',
        '9': 'Sep',
        '10': 'Oct',
        '11': 'Nov',
        '12': 'Dec',
    }
}

print(db)

{'Months of the Year': {'1': 'Jan', '2': 'Feb', '3': 'Mar', '4': 'Apr', '5': 'May', '6': 'Jun', '7': 'Jul', '8': 'Aug', '9': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'}}

In [ ]:
total_cost=int(input('Enter total cost: '))
portion_down_payment = 0.25*total_cost
current_savings=int(input('Enter current savings: '))
r=.04
annual_return = current_savings * (r/12)
annual_salary=int(input('Enter current salary: '))
portion_saved=float(input('Enter portion of money to save, as a decimal: '))
savings_increase = current_savings + annual_return + (annual_salary/12)

months = (total_cost/12) - (current_savings/12) - ((annual_salary*portion_saved+(savings_increase))-portion_down_payment/12)

print('Number of months:', months)

Enter total cost: 675000
Enter current savings: 200000
Enter current salary: 196000
Enter portion of money to save, as a decimal: .08
Number of months: -179034.1666666667

In [ ]:
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

h = int(input('Enter hours parked: '))
fee = calcFee(h)

print('Parking fee: $', (fee))

Enter number of hours: 6
Parking fee: $ 20.0

In [ ]:
def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print('Parking fee: $', (fee))

h = int(input('Enter hours parked: '))
fee = calcFee(h)
displayFee(fee)

Enter hours parked: 6
Parking fee: $ 20.0

In [ ]:
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + reverse(s[1:-1])+s[0]
    return reverse(s[1:]) + s[0]
    return [-1] + reverse(s[:-1])

print(reverse('hello'))

olleh

In [ ]:
def wAvg(L, w):
  try:
    res = []
    for i in range(len(L)):
      res.append(L[i] * w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print('Divided by zero')
    return []
  except IndexError:
    print('Non-numerical object found')
    return []
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')
wAvg([1, 2, 3], [.1,.3,.4])

2.375

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def getName(self):
    return self.name

  def getNumber(self):
    return self.number

  def __str__(self):
    return f'{self.name} {self.number}'

  def __repr__(self):
    return f'Name: {self.name}'

In [ ]:
s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")

print(s1)

James Bond 007

In [ ]:
def __str__(self):
  return f'{self.name} {self.number}'

In [ ]:
s2.getName()

'Clark Kent'

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, newCourse):
    if newCourse not in self.courses:
      self.courses.append(newCourse)
    else:
      print('You Have Already Enrolled in {newCourse}')

  def get_courses(self):
    return self.courses

In [ ]:
s = Student('Bob', '12345')

In [ ]:
s.enroll('ABC123')

In [ ]:
s.get_courses()

['ABC123']

In [ ]:
L = input('Enter Numbers:')
w = input('Enter Corresponding Weights:')
def wAvg(L, w):
    try:
        # Check if L and w are lists and have the same length
        if not isinstance(L, list) or not isinstance(w, list) or len(L) != len(w):
            raise TypeError("Inputs must be lists of the same length.")

        # Calculate the weighted average
        weighted_sum = sum(l * weight for l, weight in zip(L, w))
        total_weight = sum(w)

        # Check for division by zero
        if total_weight == 0:
            raise ZeroDivisionError("Total weight is zero.")

        return weightedsum / totalweight

    except ZeroDivisionError:
        return []
    except TypeError:
        return []
    except Exception:
        return float('nan')